<div class="container">
  <div>
    <%= link_to "Home", home_index_path, method: :get %>
  </div>
  <hr>
  <h2>My Topics</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <% @topics.each do |topic| %>
        <h2><%= topic.title %></h2>
        <p><%= topic.description %></p>        
      <%end%>
    </div>
  </div>
</div>